[submodule "oran-sc-ric"]
	path = oran-sc-ric
	url = https://github.com/srsran/oran-sc-ric.git
[submodule "srsRAN_Project"]
	path = srsRAN_Project
	url = https://github.com/srsran/srsRAN_Project.git
[submodule "srsRAN_4G"]
	path = srsRAN_4G
	url = https://github.com/srsran/srsRAN_4G.git
[submodule "ditg"]
	path = ditg
	url = https://github.com/jbucar/ditg.git
